.link {
  width: 100%;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 1rem;
  line-height: 2.5;
  text-align: left;
  border-right: 1px solid var(--grey10);
  display: flex;
  align-items: center;
}
.phone a {
  font-weight: bold;
  color: var(--grey10);
  text-decoration: none;
  font-size: 1.25rem;
}

.phone a:hover {
  text-decoration: underline;
}

.link a {
  text-decoration: none;
  color: white;
}
.dropdown {
  background: var(--darkColor);
  position: absolute;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.dropdown-item {
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: var(--darkColor);
  width: 100%;
  z-index: 20;
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: transform 0.25s;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}
.nav-container {
  display: flex;
  max-width: 100%;
  width: 1350px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  border-left: 1px solid white;
}
.toggle-mobile-btn {
  display: none;
}
.logo {
  padding-top: 0.5rem;
}

@media (max-width: 875px) {
  .link {
    border-bottom: 1px solid white;
  }
  .nav {
    z-index: 99;
    position: fixed;
    flex-direction: column;
    min-height: 100vh;
    transform: var(--toggleMobile);
    text-align: left;
    justify-content: flex-start;
  }
  .nav-container {
    display: block;
  }
  .menu {
    flex-direction: column;
    border-left: none;
    border-top: 1px solid white;
  }
  .toggle-mobile-btn {
    color: white;
    z-index: 55555;
    margin: 1rem;
    position: fixed;
    right: 0;
    border: none;
    background: var(--darkColor);
    display: block;
  }
  .link {
    border-bottom: 1px solid white;
    border-right: none;
  }
  .dropdown {
    position: relative;
    border: none;
  }
  .dropdown-item {
    border-bottom: none;
  }
}
.footer {
  background: var(--darkColor);
  font-size: 13px;
  font-weight: 500;
  border-top: 4px solid white;
  padding: 2rem 0;
  color: var(--grey25);
}

.footer li {
  color: var(--grey25);
  line-height: 2.25rem;
  font-size: 1rem;
}
.upperFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--transparentWhite25);
  padding: 2rem 0 4rem;
}
.upperFooter a {
  text-decoration: none;
}

.innerFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
  grid-gap: 4rem;
}
.innerFooter div {
  min-width: 20%;
}
.btnWrap {
  display: flex;
  gap: 0.75rem;
  padding-top: 0;
}

.h4 {
  font-size: 1.25rem;
  font-weight: 900;
  padding-bottom: 1rem;
  color: var(--grey10);
}
.headline {
  font-size: 1.75rem;
  font-weight: 700;
  display: block;
  color: white;
  margin-bottom: 1rem;
}
.description {
  font-size: 1rem;
  display: block;
  padding-bottom: 2rem;
}

.innerFooter ul li a {
  color: var(--grey25);
  text-decoration: none;
}

.innerFooter ul li a:hover {
  color: var(--accentColor);
  text-decoration: underline;
}

.icon {
  font-size: 1.75rem;
  color: var(--grey25);
}
.social {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 1.75;
}

.colophon {
  border-top: 1px solid var(--transparentWhite25);
  display: flex;
  gap: 2rem;
  flex-wrap: no-wrap;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 0.75rem;
}
.colophon a {
  color: var(--grey25);
  text-decoration: none;
}
.colophon a:hover {
  text-decoration: underline;
}

.colophon a:active {
  color: var(--accentColor);
}

.credits a {
  color: var(--accentColor);
}

.credits a:active {
  color: var(--grey25);
}

@media (min-width: 850px) {
  .innerFooter {
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 0;
  }
  .upperFooter {
    padding: 2rem 0;
  }
}
@media (max-width: 500px) {
  .innerFooter {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    padding: 4rem 0;
  }
  .btnWrap {
    padding-top: 0;
  }
}
.innerFooter ul {
  line-height: 2rem;
}
